@charset "UTF-8";
/**
 * 
 * @lipeiming (892890033@qq.com)
 * @date    2016-01-15 14:44:35
 * @version $Id$
 */
body{
	font-family: "Microsoft Yahei", "微软雅黑";
	font-size:16px;
	line-height: 1.5em;
	color:#333;
}
p{
		color:#000;
		text-indent: 2em;
		line-height: 1.5em;
	}
