@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-01-08 17:58:13
 * @version $Id$
 */
html, body { width: 100%; height: 100%; overflow: visible; }
body { font-family:'Microsoft Yahei'; font-family: 12px; color:#323232; position:relative; }
a { transition-property: color, background-color, background-image, transform, rectangle; transition-timing-function: linear; transition-duration: 260ms; transition-delay: 0ms; }
a { color:#737373; cursor:pointer; }
a:hover { color:#e4393c; text-decoration:none; }
.ju { width:950px; margin:0 auto; }
.warp { overflow: hidden; width: 100%; min-width: 950px; }
.top_warp { width: 100%; overflow: hidden; background:url(../images/topbg.jpg); height: 70px; }
.logo { margin-left: 20px; overflow: hidden; margin-right: 30px; }
/*.nav{overflow: hidden;margin-left: 20px;margin-top: 45px;}
.nav li{float: left;line-height: 25px;width: 85px;text-align: center;margin: 0 5px;height: 25px;overflow: hidden;}
.nav li .a1{font-size: 12px;color: #fff;display: block;width: 100%;line-height: 25px;overflow: hidden;}
.nav li .a1:hover{background:#000;border-radius: 25px;}
*/
.nav { overflow: hidden; margin-left: 20px; margin-top: 40px; }
.nav ul li { display:inline; float:left; font-size:14px; color:#fff; margin:0 10px; padding-bottom:5px; }
.nav ul .on { background:url(../images/bg_line1.gif) 0 26px repeat-x; }
.nav ul li .on { background:none; }
.nav ul li > a { color:#fff; line-height:25px; }
.nav ul li dt { display:block; width:78px; }
.nav ul li dt a { display:block; width:100%; height:25px; text-align:center; line-height:25px; border-radius:26px; color:#fff; }
.nav ul li dd { position:absolute; height:35px; line-height:35px; background:url(../images/opacity_nav.png) repeat-x left top; width:100%; left:0px; top:70px; display:none; z-index:100; }
.nav ul li dd a { display:inline-block; background:url(../images/nav_point.png) no-repeat left center; padding-left:6px; margin-left:22px; color:#fff; }
.nav ul li dd .link2 { _width:100%; font-size: 12px; }
.nav ul li.hover dd { display:block; }
.nav ul li.hover dt a { background:#231f20; color:#fff; }
.nav ul li dd.nav02 .link2 { padding-left:400px; }
.nav ul li dd.nav03 .link2 { padding-left:556px; }
.nav ul li dd.nav04 .link2 { padding-left:665px; }
.nav ul li dd.nav05 .link2 { padding-left:745px; }
.nav ul li dd.nav07 .link2 { padding-left:715px; }
.link1 { display:inline-block; position:relative; }
.link1 p { position:absolute; left:0; background:#000; min-width:100px; }
.sub1 { display:none; }
.nav ul li dd .link1 p a { margin:0; padding:0 24px; background:none; }
.banner { width: 100%; overflow: hidden; position: relative; height: 365px; }
.banner_hd { margin: 0 auto; overflow: hidden; height:365px; position:absolute; left:50%; margin-left:-630px; width: 1260px; }
.ban_hd .bannimg li img { height: 365px; width: 100%; }
.ban_hd .hd { margin:0 auto; position: relative; bottom:220px; width: 900px; text-align: center; height:220px; overflow: hidden; }
.ban_hd .hd ul { position:absolute; bottom:24px; text-align:center; width:100%; }
.ban_hd .hd ul li { width:16px; height:5px; background:#fff; display:inline-block; margin:0 3px; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; cursor:pointer; }
.ban_hd .hd ul .on { filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1; opacity: 1; }
.ban_hd .hd .prev { position:absolute; display:block; width:30px; height:55px; background:url(../images/pre.png) no-repeat center center; left: 0%; float: left; }
.ban_hd .hd .next { position:absolute; right: 0%; float: left; display:block; width:30px; height:55px; background:url(../images/nex.png) no-repeat center center; }
.ban_hd .hd .prev:hover, .ban_hd .hd .next:hover { filter:alpha(opacity=100); opacity:1; }
.ban_hd .hd .prevStop { display:none; }
.ban_hd .hd .nextStop { display:none; }
.center_warp { overflow: hidden; width: 100%; margin: 30px 0; }
.cent_pic ul { position: relative; overflow: hidden; }
.cent_pic li { width:300px; height:235px; float:left; background:#ee122a; margin:15px 15px 0px 0px; position:relative; overflow:hidden; }
.cent_pic li .caseThum { width:100%; height:180px; position:relative; overflow:hidden; }
.cent_pic li .caseThum img { position:absolute; left:0px; top:0px; -webkit-transition-duration:0.3s; -moz-transition-duration:0.3s; -ms-transition-duration:0.3s; transition-duration:0.3s; }
.cent_pic li .caseName { width:100%; height:50px; line-height:50px; background:#ee122a; font-size:16px; color:#fff; border-bottom:1px solid #ccc; }
.cent_pic li .caseBottom { width:100%; height:120px; position:absolute; left:0px; bottom:-55px; -webkit-transition-duration:0.3s; -moz-transition-duration:0.3s; -ms-transition-duration:0.3s; transition-duration:0.3s; }
.cent_pic li .caseInfo { width:100%; height:45px; color:#fff; }
.cent_pic li .caseInfo .caseIcon { width:35px; padding-left:25px; height:15px; float:left; font-size:12px; line-height:15px; margin-top:20px; margin-left:10px; }
.cent_pic li .caseInfo .caseIcon.ll { background:url(../images/i1.png) no-repeat; }
.cent_pic li .caseInfo .caseIcon.pl { background:url(../images/icon2.jpg) no-repeat; display: none; }
.cent_pic li .caseInfo .caseTime { width:100px; height:15px; float:right; margin-top:20px; font-size:12px; line-height:15px; text-align:right; margin-right:10px; }
.cent_pic li:hover .caseBottom { bottom:0px; }
.cent_pic li:hover .caseThum img { -webkit-transform:scale(1.1, 1.1); -moz-transform:scale(1.1, 1.1); transform:scale(1.1, 1.1); }
.cent_pic li.li1 { width: 280px; height: 365px; }
.cent_pic li.li1 .caseThum { height:305px; }
.cent_pic li .nrr { bottom: -5px; }
.cent_pic li .nrr .caseName { text-align: right; height: 120px; line-height: 20px; }
.cent_pic li:hover .nrr { }
.text1 { position:absolute; width:100%; z-index:9; top:0; text-align:center; padding-top:48px; }
.text1 font { font-size:24px; line-height:30px; color:#fff; }
.bg1 { background:#000; position:absolute; z-index:1; width:100%; height:194px; top:0; filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3; }
.cent_pic li .caseName .nft { padding: 16px 20px; }
.cent_pic li .caseName .nft font { font-size: 20px; }
.cent_pic li.li2 { width: 312px; height: 190px; background:#ee122a; }
.cent_pic li.li2:hover { background:#fa152e; }
.cent_pic li.li2 .caseThum { height:190px; }
.cent_pic li.li3 { width: 640px; height: 342px; }
.cent_pic li.li3 .caseThum { height:282px; }
.cent_pic li.li4 { width: 280px; height: 194px; position: absolute; top: 380px; left: 0; }
.cent_pic li.li4 .caseThum { height:194px; }

.cent_pic li .nrr .caseName .ct { text-align:center; }
.foot_warp { overflow: hidden; width: 100%; overflow: hidden; margin-top: 20px; }
.foot1 { width: 100%; border-top: 1px solid #ccc; overflow: hidden; padding:15px 0 10px; margin-bottom: 40px; margin-top: 10px; }
.ico_le { overflow: hidden; }
.foot1 ul li { float: left; overflow: hidden; width: 160px; margin-left: 70px; margin-right: 5px; }
.foot1 ul li .ico_le { width: 47%; overflow: hidden; text-align: center; }
.foot1 ul li .ico_ri { width: 47%; overflow: hidden; text-align: center; }
.foot1 ul li .ico_le font { font-size: 12px; color: #000; font-weight: bold; }
.foot1 ul li .ico_le img { margin-top: 12px; }
.foot1 ul li .ico_le span { font-size: 12px; color: #000; margin-top: 10px; display: block; }
.foot1 ul li .ico_le span a { display: inline-block; padding: 0 15px; border:1px solid #666; height: 20px; line-height: 20px; color: #000; }
.foot1 ul li .ico_ri span { font-size: 12px; color: #000; font-weight: bold; }
.foot1 ul li .ico_ri font { line-height: 25px; color: #666; }
.foot1 ul li .ico_le .fott1 { display: inline-block; margin-top: 10px; }
.foot1 ul li dl dt { width: 100%; overflow: hidden; margin-top: 15px; }
.foot1 ul li dl dt span { width: 50px; overflow: hidden; display: inline-block; text-align: center; }
.foot1 ul li.li1 { width: 180px; margin-left: 50px; }
.foot1 ul li.li2 { width: 150px; margin-left: 50px; }
.foot1 ul li dl dt font { display: inline-block; float: left; }
.foot2 { width: 100%; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; overflow: hidden; padding:10px 0 20px; }
.foot2 .ddl { float: left; width: 180px; height: 140px; text-align: left; padding-left: 20px; margin-left: 35px; }
.foot2 .ddl dt { font-size: 16px; line-height: 55px; color: #333; font-weight: bold; }
.foot2 .ddl dd a { line-height: 24px; color: #999; font-size: 12px; }
.copyright { color: #999;
font-size: 12px;
line-height: 24px; text-align:center; padding:12px 0; }